<% layout('/layouts/boilerplates.ejs') %>


    <div class="mt-4 mb-4 row mt-3">
        <div class=" col-8 offset-2">

            <h3>Edit Listing</h3>

            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">

                <div class="mb-3 form-group">
                    <label for="title" class="form-label" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" value=<%=listing.title %>>
                </div>

                <div class="mb-3 form-group">
                    <label for="description" class="form-label" class="form-label">description</label>
                    <textarea class="form-control" name="listing[description]"><%= listing.description %></textarea>
                </div>
                
                <div class="mb-3">
                    Original Listing image <br>
                    <img src=<%=listing.image.url %> alt="Listing image" style="width: 300px; height: 200px; object-fit:
                    cover;">
                </div>

                <div class="row">

                    <div class="col-8 mb-3 form-group">
                        <label for="image" class="form-label">Upload new image</label>
                        <input class="form-control" type="file" name="listing[image]">

                    </div>


                    <div class="col-4 mb-3 form-group">
                        <label for="price" class="form-label" class="form-label">Price</label>
                        <input class="form-control" type="number" name="listing[price]" value=<%=listing.price %>>

                    </div>

                </div>
                <div class="mb-3 form-group">
                    <label for="country" class="form-label" class="form-label">Country</label>
                    <input class="form-control" type="text" name="listing[country]" value=<%=listing.country %>>

                </div>



                <div class="mb-3 form-group">
                    <label for="location" class="form-label" class="form-label">Location</label>
                    <input class="form-control" type="text" name="listing[location]" value=<%=listing.location %>>

                </div>

                <button class="btn btn-dark btn-add">Edit</button>
            </form>

        </div>
    </div>